body {
    background-image: url('../image/bike-1245889_1920.jpg');
}

header {
    padding: 10px 25px;
    height:30vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
  }
  
  header h1 {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 36px;
    color:thistle;
    text-shadow: 2px 2px 5px rgb(48, 46, 46);
    display: flex;
    width:24%;
  }
  
  header a {
    text-decoration: none;
    font-size: 20px;
    color:thistle;
    text-shadow: 2px 2px 5px rgb(48, 46, 46);
    display: flex;
    width: 100%;
  }
  
  header nav {
    padding-top: 15px;
    padding-left: 15px;
    margin-right: 40px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }

  .hero {
    background-attachment: fixed;
    background-position: 80%;
  }

main{
    height: 100vh;
}

section {
    width:100%;
    /* initializing flex box for both parent sections */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

section.row-1 {
    height: 25vh;
}

section.row-1 div.col-1 {
    display: flex;
    width: 24.5%;
    height: 25vh;
    background-color:lightsteelblue;
    opacity: 0.8;
}

section.row-1 div.col-2 {
    display: flex;
    width: 75%;
    height: 25vh;
    background-color:cornflowerblue;
    opacity: 0.5;
}

section.row-2 {
    height: 100vh;
}

section.row-2 div.col-1 {
    display: flex;
    width: 24.5%;
    height: 100vh;
    background-color:goldenrod;
    opacity: 0.8;
}

section.row-2 div.col-2 {
    display: flex;
    flex-wrap: wrap; 
    width: 75%;
    height: 100vh;
    background-color:darkkhaki;
    opacity: 0.8;
}

.break{
    flex-basis: 100%;
     
}

 section.row-2 div.col-2 div.card-1{
    display: flex;
    width: 100%;
    margin: 1%;
    height: 50vh;
    /* flex-flow: row wrap; */
    background-color:lightskyblue;
    opacity: 0.8;
     
} 


section.row-2 div.col-2 div.card-2 {
    display: flex;
     width: 45%;
    height: 20vh;
    background-color:saddlebrown
    opacity: 0.9;
    margin:0 auto;
}     

section.row-2 div.col-2 div.card-3 {
    
    display: flex;
     width: 45%;
     margin:0 auto;
    height: 20vh;
    background-color:olive;
    opacity: 0.9;
}     

section.row-2 div.col-2 div.card-4 {
    display: flex;
    margin: 0 auto;
     width: 45%;
    height: 20vh;
    background-color:darkseagreen;
    opacity: 0.9;
}     

section.row-2 div.col-2 div.card-5 {
    display: flex;
     width: 45%;
    height: 20vh;
    margin: 0 auto;
    background-color:palevioletred;
    opacity: 0.9;
}     


section.row-3 {
    height: 25vh;
}

section.row-3 div.col-1 {
    display: flex;
    width: 24.5%;
    height: 25vh;
    background-color:saddlebrown;
    opacity:0.9;
}

section.row-3 div.col-2 {
    display: flex;
    width: 75%;
    height: 25vh;
    background-color:slategray;
    opacity: 0.9;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
  @media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
  
    .hero-cta, .hero-form {
      width: 100%;
    }
    
    .hero-cta {
      text-align: center;
    }
  
    .section-title {
      width: 80%;
    }
    
    .trainer {
      flex: 0 70%;
    }
    
    .contact-info iframe{
      flex: 1 100%;
    }
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  
    .step h3 {
      flex: 1 100%;
      text-align: center;
    }
  
    .step-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .step-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .step-text {
      flex: 100%;  
    }
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    .hero-form button {
      width: 100%;
    }
  
    .section-title {
      width: 95%;
    }
  
    .intro p {
      width: 100%;
    }
  
    .trainer {
      flex: 0 100%;
    }
  
    .contact-info {
      text-align: center;
    }
  
    .contact-info > * {
      flex: 0 100%;
    }
  
    .contact-form {
      order: 3;
    }
  }